body {
  background: black;
  border: 0;
  box-sizing: border-box;
  color: white;
  font-family: amongus;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media (prefers-reduced-motion: reduce) {
  #root *,
  #root *::before,
  #root *::after {
    animation-delay: 0s;
    animation-duration: 0s;
    transition-delay: 0s;
    transition-duration: 0s;
  }
}
